.content_container{
  width:88%;
  margin:auto;
  position:relative;
}

.content_menu{
  float:left;
  width:20%;
  position:absolute;
  margin-top:-50px;
}

.menu_title{
  width:185px;
  height:100px;
  background-color:#2f6951;
  color:#ffffff;
  font-size:18px;
}

.menu_title p{
  padding-top:37px;
  padding-left:20px;
}

.menu_list{
  display:block;
  width:185px;
  list-style-type:none;
  margin:0px;
  padding-left:0px;
}

.menu_list li {
  line-height:40px;
  border-bottom: 1px solid #d1d1d1;
  padding-left:20px;
  background-color:#f7f7f7;
  font-size:14px;
  font-weight:500;
  cursor: pointer;

}

.menu_list li:hover{
  background-color:white;
}

.last_list {
  border-bottom: 1.3px solid #2f6951 !important;
}

.list_selected{
  background-color:white !important;
  color:#074a30;
  font-weight:800 !important;
}

.content_main{
  float:right;
  margin:10px;
  width:800px;
}

.content_way{
  width:100%;
  height:35px;
  border-bottom: 1.1px solid #2f6951;
  margin-bottom:15px;
}

.content_way p{
  float:right;
  font-size:12px;
  font-weight:500;
}

.current_way1{
  margin-left:3px;
}
.current_way2{
  font-weight:500 !important;
  margin-left:3px;
  color:#074a30 !important;
}


.content_box{
  display: none;
  margin-top: 20px;
}

#record_imgId{
  margin: 15px;
  width:95%;
}


#content_imgId{
  width:100%;
  margin-top: 20px;
}

#newsletter_imgId{
  width:170px;
  margin-top:20px;
}

.year_box{
  float:left;
  width: 130px;
  height:639.31px;
  background-color: #f7f7f7;
}

.year_list{
  list-style-type: none;
  display: block;
}

#yearlist{
  width: inherit;
  height: 30px;
  background-color: #f0f0f0;
}

.content_val{
  float: left;
  background-color: #fafafa;
  width: 640px;
  padding: 15px;
}



.year_list li{
  background-color:#f0f0f0;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
}


.year_list {
  padding:0px;
  margin: 0px;
  cursor: pointer;
  height: 22px;
  vertical-align: middle;
}

.year_selected{
  background-color:#285e4a !important;
  color:#ffffff;
  width: 130px;
  height: 20px;
}

#record_18 , #record_17{
  border-bottom: 1px solid #cccccc;
  display: none;

}

#bulletimage{
  width:2px;
}
